#main>img{
    width: 80%;
    height: 500px;
    margin: auto;
    margin-left: 150px;
    cursor: pointer;
}
#container>div{
    display: flex;
    /* border: 1px solid red; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 100px;
    gap: 50px;
    margin: auto;
    width: 60%;
    height: auto;
    cursor: pointer;
    
}

img{
    height: 300px;
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
}