*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: Roboto, sans-serif;
}
#main_container{
    width: 60%;
    margin: auto;
    margin-top: 50px;
}
#sub_navbar{
    display: flex;
    align-items: center;
    width:100%;
    justify-content: space-between;
    background-color: #f6f6f6;
    padding:5px 30px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
   
}
#sub_navbar h3{
    color: #9c2121
}
#sub_navbar p{
font-size: 13px;
font-weight:bold;
color: gray;
}
#sub_navbar p:hover{
    color: #dd1e1e;
    cursor: pointer;
}
#slideshow{
    width:100%;
    color: rgb(97, 84, 84);
    margin: 20px 0px;
    padding:20px;
    border: 1px solid;
    display: flex;
    gap:20px;
}
#slideshowdiv{
    width:70%;
}
#slideshowdata{
    width:30%;
}
#slideshowdata:hover,#slideshowdiv:hover,#india_page>div:hover{
    cursor: pointer;
}
#slideshowdata h4{
    margin-bottom: 10px;
}
#slideshowdata img{
    width:100%;
}
#slideshowdiv img{
    width: 100%;
    height:300px;
}
#line{
    font-weight: bolder;
   margin:20px 0px;
   background-color: gray;
}
#india_page{
    width:100%;
   line-height: 20px;
   padding:10px;
}
#india_page>div{
    width:100%;
    display: flex;
    /* grid-template-columns: 30% 70%; */
     padding:20px;
    gap:20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
#content h3{
    font-weight: bold;
}
#content h3+p{
margin:10px 0px
}
#india_page>div>div{
    width:50%;
}
#india_page>div>div img{
    width:100%;
    
}