#top{
    width: 100%;
    margin: auto;
    height: 100px;
}

#sports_navbar{
   margin: auto;
   width: 90%;
    border: 1px solid rgb(231, 225, 225);
    border-left: none;
    border-right: none;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(219, 236, 236);
    font-size: 20px;
    cursor: pointer;

}
#sports_navbar a:hover{
    color: red;
}
#task_bar>a{
    color: #a10a0a;
    padding-bottom: 10px;
}

#category>a{
    color: teal;
    font-weight: bold;
    padding: 10px;
    text-decoration: none; 
    
}
span{
    color: rgb(126, 123, 123);

}

#sliding_image{
    width:90%;
    margin: auto;
    height: 525px;
    background-image:url(https://images.indianexpress.com/2021/12/Carlsen-2.jpg?resize=450,250);
    background-size: 100% 100%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    animation: slider 15s infinite linear ;
    border-radius: 10px;
}
@keyframes slider{
    0%{   background-image:url(https://images.indianexpress.com/2021/12/Carlsen-2.jpg?resize=450,250);
    }
    25%{
        background-image: url(https://images.indianexpress.com/2022/07/neeraj-chopra-8.jpg?resize=450,250);
    }
    50%{
        background-image: url(https://images.indianexpress.com/2018/12/hockey-world-cup-1200-1.jpg);
    }
    75%{
        background-image: url(https://images.indianexpress.com/2022/07/Abdullah-Shafique-1.jpg);
    }
}

#middle{
    width: 90%;
    display: flex;
    gap: 50px;
    margin-top: 40px;
    cursor: pointer;
    margin: auto;
    margin-top:20px;
    margin-bottom: 20px;
    justify-content: space-between;
}
#middle>div{
    height: auto;
    width: 30%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   
    padding:20px;
   
}
#middle>div:hover{
    transform: scale(1.1);
    color: red;
}
#middle>div>img{
    width: 100%;
    height: 70%;

}
#spt_container{
    width:60%;
    margin-top: 30px;
    margin:auto;
}
#spt_container>div{
    width:100%;
    display: flex;
    /* border: 1px solid red; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    gap: 50px;
    margin: auto;
    height: auto;
    cursor: pointer;
    margin-bottom: 20px;
    padding:20px;
}
#spt_container>div:hover{
    transform: scale(1.1);
    color: red;
}
#spt_container>div>div:nth-child(1){
    width:40%;
    height:300px;
    margin: auto;
}
#spt_container>div>div:nth-child(1)  img{
    width:100%;
    height:100%;
}
#spt_container>div>div:nth-child(2){
    width:60%;
    padding:20px;
}


#auther{
    margin:10px 0px;
}

#auther+p{
    line-height: 25px;
    color: gray;
}