#landingcont{
    width:60%;
    margin: auto;
    padding:10px;
}
#heading{
    font-size: 40px;
}
#sub_heading{
    font-size: 18px;
    color: gray;
    line-height: 25px;
}
#line{
    margin:10px;
    color: #ccc;
    background-color: #ccc;
}
#date{
    color: gray;
}
#content{
    width:100%;
    display: grid;
    grid-template-columns: 60% 40%;
}
#img_video{
    padding: 10px;
}
#image{
    width:100%;
}
iframe{
    width:100%;
    height:200px;
    padding:10px 0px;
}
#contentappend,#contentappend1{
    line-height: 30px;
    font-size: 18px;
}
.ad_side{
    left: 30px;
    border: 1px solid;
    width: 250px;
    height: 500px;
    top: 200px;
    position: fixed;
}
.ad_side img{
    width: 250px;
    height: 500px;
}
.ad_side_2 img{
    width: 250px;
    height: 500px;
}
.ad_side_2{
    position: fixed;
    top: 200px;
    right: 30px;
    border: 1px solid;
    width: 250px;
    height: 300px;
}
@media screen and (max-width:1000px) {
    .ad_side{
       display: none;
    }
    .ad_side img{
        display: none;
    }
    .ad_side_2 img{
        display: none;
    }
    .ad_side_2{
        display: none;
    }
    #header{
        width: 100%;
        height: 200px;
    }
    #tophead{
        display: none;
    }
    #bottomhead{
        width: auto;
    }
   
    #footer{
        width: 110%;
    }
    #follow{
        display: none;
    }
    
}